
.store/
nginx/html/images/
nginx/logs/*.log
nginx/logs/*.pid

nodejs/deploy/deployClient_temp_*
nodejs/deploy/deployServer_temp_*
nodejs/source/node_modules/

*.pid
*.pem
*.swp
.env
.sync.ffs_db

.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*