<html>
  <body style="margin: 0 auto; padding: 0; width: 450px;">
    <form action="<%=apiUrl%>" method="post" onsubmit="">

      <input name="token" type="hidden" value="<%=code%>">
      <input type="hidden" name="_method" value="patch" />

      <img
        style="width: 450px"
        src="https://github.com/krim45/img-container/blob/main/pomodoro/logo/original.png?raw=true"
        alt=""
      />
      <div style="text-align: center;font-size: 20px; margin:10 0 10 0">
        패스워드 초기화 인증 메일
      </div>
      <div style="height: 60px; font-size: 13px; margin: 0 auto; padding: 20px; text-align: center; background-color: #F5F5F5; border: 1px solid gray; border-top: 2px solid black;">
        본 이메일 인증은 뽀모도로 패스워드 초기화 위한 필수 사항입니다.<br>
        <p style="display:inline;color:red">본인이 보낸 이메일이 아닌 경우 무시하시길 바랍니다.</p>
        <br>아래 <p style="display: inline; color: blue;">[패스워드 초기화]</p> 버튼을 클릭 하여 남은 절차를 완료 하여 주시기 바랍니다.
      </div>
      <div style="text-align: center; margin-top: 10px;">
        <button type="submit" style="width: 130px; height: 30px;background-color: #EC5E3A; border: 0; border-radius: 10px; color: white; font-size: 15px; font-weight: 400;">패스워드 초기화</button>
      </div>
    </form>
  </body>
</html>
